<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Contentful Reference</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>the-example-app.swift</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>the-example-app.swift</string>
				<string>the-example-app-mobile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>CONTENTFUL_DELIVERY_TOKEN</key>
	<string>$(CONTENTFUL_DELIVERY_TOKEN)</string>
	<key>CONTENTFUL_PREVIEW_TOKEN</key>
	<string>$(CONTENTFUL_PREVIEW_TOKEN)</string>
	<key>CONTENTFUL_SPACE_ID</key>
	<string>$(CONTENTFUL_SPACE_ID)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>8a9ee3680cf2a847e9a1be43cc40a1b9deed2047</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan QR codes</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFMono-Bold.otf</string>
		<string>SFMono-BoldItalic.otf</string>
		<string>SFMono-Heavy.otf</string>
		<string>SFMono-HeavyItalic.otf</string>
		<string>SFMono-Light.otf</string>
		<string>SFMono-LightItalic.otf</string>
		<string>SFMono-Medium.otf</string>
		<string>SFMono-MediumItalic.otf</string>
		<string>SFMono-Regular.otf</string>
		<string>SFMono-RegularItalic.otf</string>
		<string>SFMono-Semibold.otf</string>
		<string>SFMono-SemiboldItalic.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
