# iOS CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ios-migrating-from-1-2/ for more details
#
version: 2
jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "9.3.0"
    
    shell: /bin/bash --login -o pipefail

    working_directory: /Users/distiller/project
    environment:
      FL_OUTPUT_DIR: /Users/distiller/project/output
      FASTLANE_LANE: test
 
    steps:
      - checkout

      # Install RubyGems from cache
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # Install Cocoapods
      - run:
          name: Fetch CocoaPods Specs
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
      - run:
          name: Install CocoaPods
          command: bundle exec pod install

      # Build the app and run tests
      - run:
          name: Build and run tests
          command: bundle exec fastlane $FASTLANE_LANE
          environment:
            SCAN_DEVICE: iPhone X

 
      - run:
          command: cp $FL_OUTPUT_DIR/scan/report.junit $FL_OUTPUT_DIR/scan/results.xml
          when: always
      - store_artifacts:
          path: /Users/distiller/project/output
      - store_test_results:
          path: /Users/distiller/project/output/scan
            #      # Collect XML test results data to show in the UI,
            #      # and save the same XML files under test-results folder
            #      # in the Artifacts tab
            #      - store_test_results:
            #          path: test_output/report.xml
            #      - store_artifacts:
            #          path: /tmp/test-results
            #          destination: scan-test-results
            #      - store_artifacts:
            #          path: ~/Library/Logs/scan
            #          destination: scan-logs

