<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773698506379-n1j2nggc6ebr3g8oksq0up7jesej7hqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773698506379-n1j2nggc6ebr3g8oksq0up7jesej7hqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDsrOK3ohdo-6DZQ_g4HhIJXgtRLP93-Co</string>
	<key>GCM_SENDER_ID</key>
	<string>773698506379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>the-example-app.swift</string>
	<key>PROJECT_ID</key>
	<string>the-example-app-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>the-example-app-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773698506379:ios:4b9c158abaff8e9e</string>
	<key>DATABASE_URL</key>
	<string>https://the-example-app-swift.firebaseio.com</string>
</dict>
</plist>